<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MSWordpiCite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="MSWordWizCite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<MSWordpiCite.Properties.Settings>
   <setting name="URI_REGISTER" serializeAs="String">
    <value>school/Registration.aspx</value>
   </setting>
   <setting name="URI_FORGOTPASSWORD" serializeAs="String">
    <value>school/ResetPassword.aspx</value>
   </setting>
   <setting name="INPUTEMAIL_WIDTH_DEFAULT" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="INPUTPASSWORD_WIDTH_DEFAULT" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="USERAGENT" serializeAs="String">
    <value>Microsoft Word (Windows)</value>
   </setting>
   <setting name="PROXY_SETTING" serializeAs="String">
    <value />
   </setting>
   <setting name="URI_LOCALDATASERVICE" serializeAs="String">
    <value>Handlers/SyncDataHandler.ashx</value>
   </setting>
   <setting name="IMAGEKEY_NORMALFOLDER" serializeAs="String">
    <value>NormalFolder</value>
   </setting>
   <setting name="IMAGEKEY_PUBLICATIONFOLDER" serializeAs="String">
    <value>PublicationFolder</value>
   </setting>
   <setting name="IMAGEKEY_SHAREDCOLLECTION" serializeAs="String">
    <value>SharedCollectionFolder</value>
   </setting>
   <setting name="IMAGEKEY_ALLITEMS" serializeAs="String">
    <value>AllItems</value>
   </setting>
   <setting name="IMAGEKEY_RECYCLEBIN" serializeAs="String">
    <value>RecycleBin</value>
   </setting>
   <setting name="IMAGEKEY_WIZADD" serializeAs="String">
    <value>WizAdd</value>
   </setting>
   <setting name="MASTER_TREEVIEW_HEIGHT_DEFAULT" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="MASTER_LISTITEMS_YEAR_WIDTH_DEFAULT" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="USER_LASTDATASYNC" serializeAs="String">
    <value>20100101000000</value>
   </setting>
   <setting name="USER_AUTHENTICATION" serializeAs="String">
    <value />
   </setting>
   <setting name="USER_REMEMBERME" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DOCK_POSITION" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="CUSTOMPANE_HEIGHT_DEFAULT" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="DEFAULT_REMEMBERME" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DEFAULT_MINLENGTH_INPUTSEARCH" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="DEFAULT_LANGUAGE" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LAST_LOGIN_EMAIL" serializeAs="String">
    <value />
   </setting>
   <setting name="DEFAULT_SORTBY" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="MASTER_VERTICAL_SPLITTERPARENT_RATIO" serializeAs="String">
    <value>0.2</value>
   </setting>
   <setting name="MASTER_VERTICAL_SPLITTERCHILD_RATIO" serializeAs="String">
    <value>0.4</value>
   </setting>
   <setting name="MASTER_HORIZONTAL_SPLITTERPARENT_RATIO" serializeAs="String">
    <value>0.1</value>
   </setting>
   <setting name="MASTER_HORIZONTAL_SPLITTERCHILD_RATIO" serializeAs="String">
    <value>0.45</value>
   </setting>
   <setting name="MASTER_PREVIEW_COLLAPSED" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DEFAULT_FILES_FOLDER" serializeAs="String">
    <value>\πFolio\Files\</value>
   </setting>
   <setting name="DEFAULT_RESET" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DEFAULT_FILTER_FIELDS" serializeAs="String">
    <value>111</value>
   </setting>
   <setting name="DefaultLogFilePath" serializeAs="String">
    <value />
   </setting>
   <setting name="FORMAT_URL_STYLEEDITOR" serializeAs="String">
    <value>{0}?style=1&amp;UserID={1}&amp;StyleName={2}</value>
   </setting>
   <setting name="DEFAULT_STYLECHOOSER_WIDTH" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="DEFAULT_STYLECHOOSER_HEIGHT" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="FORMAT_URL_CITEDITEM" serializeAs="String">
    <value>{0}?citation=1&amp;ver=3&amp;ItemID={1}&amp;UserID={2}&amp;AccessCode={3}&amp;CitationSuffix=</value>
   </setting>
   <setting name="FORMAT_URL_CITATIONSTYLE" serializeAs="String">
    <value>{0}?style=1&amp;ver=3&amp;UserID={1}&amp;StyleName={2}</value>
   </setting>
   <setting name="URI_LOCALSHARESERVICE" serializeAs="String">
    <value>Handlers/WizFolioShare.ashx</value>
   </setting>
   <setting name="DEFAULT_CITATION_STYLE_NAME" serializeAs="String">
    <value>APA (6th edition)</value>
   </setting>
   <setting name="DEFAULT_STYLEEDITOR_WIDTH" serializeAs="String">
    <value>1024</value>
   </setting>
   <setting name="DEFAULT_STYLEEDITOR_HEIGHT" serializeAs="String">
    <value>700</value>
   </setting>
   <setting name="LAST_USED_CITATIONSTYLES" serializeAs="String">
    <value />
   </setting>
   <setting name="LAST_USED_CITATIONSTYLES_NUMBER" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="IMAGEKEY_COLLEAGUE" serializeAs="String">
    <value>colleague</value>
   </setting>
   <setting name="IMAGEKEY_COLLEAGUELIST" serializeAs="String">
    <value>colleaguelist</value>
   </setting>
   <setting name="IMAGEKEY_CITEDREFERENCES" serializeAs="String">
    <value>CitedReferences</value>
   </setting>
   <setting name="DefaultLogFileName" serializeAs="String">
    <value>error.log</value>
   </setting>
   <setting name="URI_LOGINHANDLER" serializeAs="String">
    <value>Handlers/LoginHandler.ashx</value>
   </setting>
   <setting name="URI_ROOTDATAHANDLER" serializeAs="String">
    <value>Handlers/WizFolioData.ashx</value>
   </setting>
   <setting name="IMAGEKEY_LOADING" serializeAs="String">
    <value>Loading</value>
   </setting>
   <setting name="URI_LOGINSTYLEEDITOR" serializeAs="String">
    <value>Login.aspx?wizcitemode=1&amp;authstr={0}&amp;style=1&amp;userid={1}&amp;stylename={2}</value>
   </setting>
   <setting name="CUSTOMPANE_MINIMUM_WIDTH" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="CUSTOMPANE_WIDTH_DEFAULT" serializeAs="String">
    <value>390</value>
   </setting>
   <setting name="DEFAULT_PROGRESS_HEIGHT" serializeAs="String">
    <value>104</value>
   </setting>
   <setting name="DEFAULT_PROGRESS_WIDTH" serializeAs="String">
    <value>260</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL1_H_MINHEIGHT" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL2_H_MINHEIGHT" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL1_H_MINHEIGHT" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL2_H_MINHEIGHT" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL1_V_MINWIDTH" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL2_V_MINWIDTH" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL1_V_MINWIDTH" serializeAs="String">
    <value>220</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL2_V_MINWIDTH" serializeAs="String">
    <value>280</value>
   </setting>
   <setting name="URI_LOGINACCESS" serializeAs="String">
    <value>Login.aspx?wizcitemode=1&amp;authstr={0}&amp;referrer={1}</value>
   </setting>
   <setting name="DEFAULT_NUMOFCITATIONS_NOREFRESH" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="DEFAULT_SCREENTIP_TITLE_WORDLIMIT" serializeAs="String">
    <value>65</value>
   </setting>
   <setting name="DEFAULT_NUMOFITEMS_PER_LOAD" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="URI_SUBSCRIPTION" serializeAs="String">
    <value>Payment/MySubscriptions.aspx</value>
   </setting>
   <setting name="CUSTOMPANE_TITLE" serializeAs="String">
    <value>Citation Tools {0}</value>
   </setting>
   <setting name="VERSION" serializeAs="String">
    <value>1.1 beta</value>
   </setting>
   <setting name="DEFAULT_SHOWQUICKSTART" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="URL_QUICKSTART" serializeAs="String">
    <value>http://help.pifolio.com/Contents/WizCite4_Tutorial.aspx?content=quickstart&amp;menu=0</value>
   </setting>
   <setting name="DEFAULT_QUICKSTART_WIDTH" serializeAs="String">
    <value>1050</value>
   </setting>
   <setting name="DEFAULT_QUICKSTART_HEIGHT" serializeAs="String">
    <value>650</value>
   </setting>
   <setting name="QUICKSTART_ALLOW_PERMANENTCLOSED" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IMAGEKEY_PUBMEDNOTICAT" serializeAs="String">
    <value>PubMedNotificationCat</value>
   </setting>
   <setting name="IMAGEKEY_PUBMEDNOTI" serializeAs="String">
    <value>PubMedNotification</value>
   </setting>
   <setting name="IMAGEKEY_NOTITIME" serializeAs="String">
    <value>NotificationTime</value>
   </setting>
   <setting name="IMAGEKEY_PUBMEDSEARCH" serializeAs="String">
    <value>PubMedSearch</value>
   </setting>
   <setting name="IMAGEKEY_SCHOLARSPORTALSEARCH" serializeAs="String">
    <value>ScholarsPortalSearch</value>
   </setting>
   <setting name="NUM_OF_SEARCH_RESULTS_PER_PAGE" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_FILTER" serializeAs="String">
    <value>FilterImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_PUBMED" serializeAs="String">
    <value>PubMedImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_SCHOLARSPORTAL" serializeAs="String">
    <value>ScholarsPortalImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_CITEULIKE" serializeAs="String">
    <value>CiteULikeImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_WORLDCAT" serializeAs="String">
    <value>WorldCatImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_GOOGLESCHOLAR" serializeAs="String">
    <value>GoogleScholarImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_WIZSEARCH" serializeAs="String">
    <value>WizSearchImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_SEARCHDB" serializeAs="String">
    <value>searchdbimage</value>
   </setting>
   <setting name="DEFAULT_IS_SORTDIRECTION_ASCENDING" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="URL_ROOTSERVER" serializeAs="String">
    <value>http://root.pifolio.com/</value>
   </setting>
   <setting name="URL_TEMPLATE" serializeAs="String">
    <value>http://provider.pifolio.com/file/citationtool/template/</value>
   </setting>
   <setting name="DEFAULT_TEMPLATE_FOLDER" serializeAs="String">
    <value>\πFolio\Templates\</value>
   </setting>
  </MSWordpiCite.Properties.Settings>
  <MSWordWizCite.Properties.Settings>
   <setting name="URI_REGISTER" serializeAs="String">
    <value>Pages/Registration.aspx</value>
   </setting>
   <setting name="URI_FORGOTPASSWORD" serializeAs="String">
    <value>Pages/ResetPassword.aspx</value>
   </setting>
   <setting name="INPUTEMAIL_WIDTH_DEFAULT" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="INPUTPASSWORD_WIDTH_DEFAULT" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="USERAGENT" serializeAs="String">
    <value>Microsoft Word (Windows)</value>
   </setting>
   <setting name="PROXY_SETTING" serializeAs="String">
    <value />
   </setting>
   <setting name="URI_LOCALDATASERVICE" serializeAs="String">
    <value>Handlers/SyncDataHandler.ashx</value>
   </setting>
   <setting name="IMAGEKEY_NORMALFOLDER" serializeAs="String">
    <value>NormalFolder</value>
   </setting>
   <setting name="IMAGEKEY_PUBLICATIONFOLDER" serializeAs="String">
    <value>PublicationFolder</value>
   </setting>
   <setting name="IMAGEKEY_SHAREDCOLLECTION" serializeAs="String">
    <value>SharedCollectionFolder</value>
   </setting>
   <setting name="IMAGEKEY_ALLITEMS" serializeAs="String">
    <value>AllItems</value>
   </setting>
   <setting name="IMAGEKEY_RECYCLEBIN" serializeAs="String">
    <value>RecycleBin</value>
   </setting>
   <setting name="IMAGEKEY_WIZADD" serializeAs="String">
    <value>WizAdd</value>
   </setting>
   <setting name="MASTER_TREEVIEW_HEIGHT_DEFAULT" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="MASTER_LISTITEMS_YEAR_WIDTH_DEFAULT" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="USER_LASTDATASYNC" serializeAs="String">
    <value>20100101000000</value>
   </setting>
   <setting name="USER_AUTHENTICATION" serializeAs="String">
    <value />
   </setting>
   <setting name="USER_REMEMBERME" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DOCK_POSITION" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="CUSTOMPANE_HEIGHT_DEFAULT" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="DEFAULT_REMEMBERME" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DEFAULT_MINLENGTH_INPUTSEARCH" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="DEFAULT_LANGUAGE" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LAST_LOGIN_EMAIL" serializeAs="String">
    <value />
   </setting>
   <setting name="DEFAULT_SORTBY" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="MASTER_VERTICAL_SPLITTERPARENT_RATIO" serializeAs="String">
    <value>0.2</value>
   </setting>
   <setting name="MASTER_VERTICAL_SPLITTERCHILD_RATIO" serializeAs="String">
    <value>0.4</value>
   </setting>
   <setting name="MASTER_HORIZONTAL_SPLITTERPARENT_RATIO" serializeAs="String">
    <value>0.1</value>
   </setting>
   <setting name="MASTER_HORIZONTAL_SPLITTERCHILD_RATIO" serializeAs="String">
    <value>0.45</value>
   </setting>
   <setting name="MASTER_PREVIEW_COLLAPSED" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DEFAULT_FILES_FOLDER" serializeAs="String">
    <value>\πFolio\Files\</value>
   </setting>
   <setting name="DEFAULT_RESET" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DEFAULT_FILTER_FIELDS" serializeAs="String">
    <value>111</value>
   </setting>
   <setting name="DefaultLogFilePath" serializeAs="String">
    <value />
   </setting>
   <setting name="FORMAT_URL_STYLEEDITOR" serializeAs="String">
    <value>{0}?style=1&amp;UserID={1}&amp;StyleName={2}</value>
   </setting>
   <setting name="DEFAULT_STYLECHOOSER_WIDTH" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="DEFAULT_STYLECHOOSER_HEIGHT" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="FORMAT_URL_CITEDITEM" serializeAs="String">
    <value>{0}?citation=1&amp;ver=3&amp;ItemID={1}&amp;UserID={2}&amp;AccessCode={3}&amp;CitationSuffix=</value>
   </setting>
   <setting name="FORMAT_URL_CITATIONSTYLE" serializeAs="String">
    <value>{0}?style=1&amp;ver=3&amp;UserID={1}&amp;StyleName={2}</value>
   </setting>
   <setting name="URI_LOCALSHARESERVICE" serializeAs="String">
    <value>Handlers/WizFolioShare.ashx</value>
   </setting>
   <setting name="DEFAULT_CITATION_STYLE_NAME" serializeAs="String">
    <value>APA (6th edition)</value>
   </setting>
   <setting name="DEFAULT_STYLEEDITOR_WIDTH" serializeAs="String">
    <value>1024</value>
   </setting>
   <setting name="DEFAULT_STYLEEDITOR_HEIGHT" serializeAs="String">
    <value>700</value>
   </setting>
   <setting name="LAST_USED_CITATIONSTYLES" serializeAs="String">
    <value />
   </setting>
   <setting name="LAST_USED_CITATIONSTYLES_NUMBER" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="IMAGEKEY_COLLEAGUE" serializeAs="String">
    <value>colleague</value>
   </setting>
   <setting name="IMAGEKEY_COLLEAGUELIST" serializeAs="String">
    <value>colleaguelist</value>
   </setting>
   <setting name="IMAGEKEY_CITEDREFERENCES" serializeAs="String">
    <value>CitedReferences</value>
   </setting>
   <setting name="DefaultLogFileName" serializeAs="String">
    <value>error.log</value>
   </setting>
   <setting name="URI_LOGINHANDLER" serializeAs="String">
    <value>Handlers/LoginHandler.ashx</value>
   </setting>
   <setting name="URI_ROOTDATAHANDLER" serializeAs="String">
    <value>Handlers/WizFolioData.ashx</value>
   </setting>
   <setting name="IMAGEKEY_LOADING" serializeAs="String">
    <value>Loading</value>
   </setting>
   <setting name="URI_LOGINSTYLEEDITOR" serializeAs="String">
    <value>Login.aspx?wizcitemode=1&amp;authstr={0}&amp;style=1&amp;userid={1}&amp;stylename={2}</value>
   </setting>
   <setting name="CUSTOMPANE_MINIMUM_WIDTH" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="CUSTOMPANE_WIDTH_DEFAULT" serializeAs="String">
    <value>390</value>
   </setting>
   <setting name="DEFAULT_PROGRESS_HEIGHT" serializeAs="String">
    <value>104</value>
   </setting>
   <setting name="DEFAULT_PROGRESS_WIDTH" serializeAs="String">
    <value>260</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL1_H_MINHEIGHT" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL2_H_MINHEIGHT" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL1_H_MINHEIGHT" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL2_H_MINHEIGHT" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL1_V_MINWIDTH" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="MASTER_SPLITPARENT_PANEL2_V_MINWIDTH" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL1_V_MINWIDTH" serializeAs="String">
    <value>220</value>
   </setting>
   <setting name="MASTER_SPLITCHILD_PANEL2_V_MINWIDTH" serializeAs="String">
    <value>280</value>
   </setting>
   <setting name="URI_LOGINACCESS" serializeAs="String">
    <value>Login.aspx?wizcitemode=1&amp;authstr={0}&amp;referrer={1}</value>
   </setting>
   <setting name="DEFAULT_NUMOFCITATIONS_NOREFRESH" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="DEFAULT_SCREENTIP_TITLE_WORDLIMIT" serializeAs="String">
    <value>65</value>
   </setting>
   <setting name="DEFAULT_NUMOFITEMS_PER_LOAD" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="URI_SUBSCRIPTION" serializeAs="String">
    <value>Payment/MySubscriptions.aspx</value>
   </setting>
   <setting name="CUSTOMPANE_TITLE" serializeAs="String">
    <value>Citation Tools {0}</value>
   </setting>
   <setting name="VERSION" serializeAs="String">
    <value>1.1 beta</value>
   </setting>
   <setting name="DEFAULT_SHOWQUICKSTART" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="URL_QUICKSTART" serializeAs="String">
    <value>http://help.pifolio.com/Contents/WizCite4_Tutorial.aspx?content=quickstart&amp;menu=0</value>
   </setting>
   <setting name="DEFAULT_QUICKSTART_WIDTH" serializeAs="String">
    <value>1050</value>
   </setting>
   <setting name="DEFAULT_QUICKSTART_HEIGHT" serializeAs="String">
    <value>650</value>
   </setting>
   <setting name="QUICKSTART_ALLOW_PERMANENTCLOSED" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IMAGEKEY_PUBMEDNOTICAT" serializeAs="String">
    <value>PubMedNotificationCat</value>
   </setting>
   <setting name="IMAGEKEY_PUBMEDNOTI" serializeAs="String">
    <value>PubMedNotification</value>
   </setting>
   <setting name="IMAGEKEY_NOTITIME" serializeAs="String">
    <value>NotificationTime</value>
   </setting>
   <setting name="IMAGEKEY_PUBMEDSEARCH" serializeAs="String">
    <value>PubMedSearch</value>
   </setting>
   <setting name="IMAGEKEY_SCHOLARSPORTALSEARCH" serializeAs="String">
    <value>ScholarsPortalSearch</value>
   </setting>
   <setting name="NUM_OF_SEARCH_RESULTS_PER_PAGE" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_FILTER" serializeAs="String">
    <value>FilterImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_PUBMED" serializeAs="String">
    <value>PubMedImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_SCHOLARSPORTAL" serializeAs="String">
    <value>ScholarsPortalImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_CITEULIKE" serializeAs="String">
    <value>CiteULikeImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_WORLDCAT" serializeAs="String">
    <value>WorldCatImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_GOOGLESCHOLAR" serializeAs="String">
    <value>GoogleScholarImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_WIZSEARCH" serializeAs="String">
    <value>WizSearchImage</value>
   </setting>
   <setting name="IMAGEKEY_SEARCHOPTIONS_SEARCHDB" serializeAs="String">
    <value>searchdbimage</value>
   </setting>
   <setting name="DEFAULT_IS_SORTDIRECTION_ASCENDING" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="URL_ROOTSERVER" serializeAs="String">
    <value>http://root.pifolio.com/</value>
   </setting>
   <setting name="URL_TEMPLATE" serializeAs="String">
    <value>http://provider.pifolio.com/file/citationtool/template/</value>
   </setting>
   <setting name="DEFAULT_TEMPLATE_FOLDER" serializeAs="String">
    <value>\πFolio\Templates\</value>
   </setting>
  </MSWordWizCite.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
